# postgres env
DB_USER="nodeflow"
DB_PASS="nf_password"
DB_HOST="postgresql"
DB_PORT="5432"
DB_DATABASE="nodeflow"

# domain aliases
VITE_API_BASE_URL="http://localhost:8001"
CORS_ORIGINS="http://localhost:3001"
ENTS_API_BASE_URL="http://host.docker.internal:8000"

# ENTS service auth
ENTS_API_KEY=""
ENTS_API_KEY_HEADER="X-API-Key"

# Google OAUTH
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
OAUTH_REDIRECT_URI="http://localhost:3001/auth/callback"
CLIENT_URL="http://localhost:3001"
ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
REFRESH_COOKIE_SECURE="false"
